<h1><%= @cocktail.name %></h1>

<h2>Recipe</h2>

<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> <%= dose.ingredient.name %></li>
  <p><%= link_to "Delete Dose", cocktail_dose_path(@cocktail, dose),
    method: :delete,
    data: { confirm: "U sure?" } %></p>
  <% end %>
</ul>


<p><%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail) %></p>
<p><%= link_to 'Back', cocktails_path %></p>


